.menu-button {
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    min-width: 30px;
    min-height: 50px;
    justify-content: left;
    padding: 5px 20px;
    align-items: center;
    gap: 25px;
    padding-right: 30px;
    border-radius: 40px;
}

.menu-button:hover {
    background-color: #cccccc1a;
}

.menu-button i {
    font-size: 25px;
    color: white;
}

.menu-button span {
    font-size: 20px;
    color: white;
    font-weight: 500;
}

.menu-button .is-selected {
    font-weight: 700;
}